<!DOCTYPE html>
<html lang="vi">
<head>
	<title><%- title%></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="description" content="">
	<link href='http://fonts.googleapis.com/css?family=Dosis:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" href="/vendors/colorbox/example3/colorbox.css">
	<link rel="stylesheet" href="/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="/rs-plugin/css/responsive.css">
	<link rel="stylesheet" title="style" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/animate.css">
	<link rel="stylesheet" title="style" href="/stylesheets/huong-style.css">
</head>
<body>
	<head id="header">
    <%- include partials/header %>
	</head> <!-- .header-body -->
	<%- include partials/nav %>
	
	<div class="inner-header">
		<div class="container">
			<div class="pull-left">
				<div class="beta-breadcrumb font-large">
					<a href="index.html"><%- link%></a> / <span><%- name%></span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="container">
		<div id="content">
			<div class="row">
				<div class="col-sm-9">

					<div class="row">
						<div class="col-sm-4">
							<img src="/images/products/<%-images%>" alt="">
						</div>
						<div class="col-sm-8">
							<div class="single-item-body">
								<p class="single-item-title"><%- name%></p>
								<p class="single-item-price">
									<%-codegiasp%>
								</p>
							</div>

							<div class="clearfix"></div>
							<div class="space20">&nbsp;</div>

							<div class="single-item-desc">
								<p>*Thông tin sản phẩm*</p>
							</div>
							<div class="space20">&nbsp;</div>

							<div class="single-item-options">
								<select id="wc-select" class="wc-select" name="color">
									<option>Số lượng</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
								<%-muasanphamchitiet%>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="space40">&nbsp;</div>
					<div class="woocommerce-tabs">
						<ul class="tabs">
							<li><a href="#tab-description">Mô tả sản phẩm</a></li>
							<li><a href="#tab-reviews">Bài đánh giá (0)</a></li>
						</ul>

						<div class="panel" id="tab-description">
							<p><%- mota%></p>
						</div>
						<div class="panel" id="tab-reviews">
							<p>Chưa có bài đánh giá cho sản phẩm này</p>
						</div>
					</div>
					<div class="space50">&nbsp;</div>
					<div class="beta-products-list">
						<h4>Sản phẩm liên quan</h4>

						<%- splq%>
					</div> <!-- .beta-products-list -->
				</div>
				<div class="col-sm-3 aside">
					<div class="widget">
						<h3 class="widget-title">Sản phẩm bán chạy</h3>
						<div class="widget-body">
							<div class="beta-sales beta-lists">
								<%- spbanchay %>
							</div>
						</div>
					</div> <!-- best sellers widget -->
					<div class="widget">
						<h3 class="widget-title">Sản phẩm mới</h3>
						<div class="widget-body">
							<div class="beta-sales beta-lists">
								<%- spmoi %>
							</div>
						</div>
					</div> <!-- best sellers widget -->
				</div>
			</div>
		</div> <!-- #content -->
	</div> <!-- .container -->

	<footer>
		<%- include partials/footer %>
  </footer>


	<!-- include js files -->
	<script src="/javascripts/jquery.js"></script>
	<script src="/vendors/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="/vendors/bxslider/jquery.bxslider.min.js"></script>
	<script src="/vendors/colorbox/jquery.colorbox-min.js"></script>
	<script src="/vendors/animo/Animo.js"></script>
	<script src="/vendors/dug/dug.js"></script>
	<script src="/javascripts/scripts.min.js"></script>
	<script src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
	<script src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	<script src="/javascripts/waypoints.min.js"></script>
	<script src="/javascripts/wow.min.js"></script>
	<!--customjs-->
	<script src="/javascripts/custom2.js"></script>
	<script>
	$(document).ready(function($) {    
		$(window).scroll(function(){
			if($(this).scrollTop()>150){
			$(".header-bottom").addClass('fixNav')
			}else{
				$(".header-bottom").removeClass('fixNav')
			}}
		)
	})
	</script>
</body>
</html>
